<!-- Layout -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/server.js"></script>
</head>
<body>
    <nav>
      <a href="/">Home</a>
      <a href="/login">Login</a>
      <a href="/timeline">timeline</a>
      <a href="/register">Register</a>
      <a href="/logout">Logout</a>
      <a href="/index">profile</a>
    </nav>
    <main>
      <%- body %>
    </main>
  </body>
</html>