<h1>Your Quest</h1>
<p><strong>Description:</strong> <%= quest.description %></p>
<p><strong>Difficulty:</strong> <%= quest.difficulty %></p>


<!-- <button onclick="window.location.href='/quests/accept'">Generate Another Quest</button>
<button onclick="startQuest()">Choose This Quest</button>

<script>
  function startQuest() {
    // You can send an AJAX request here to your server to set the user as active in the quest
    // Or simply redirect the user to the appropriate route in your application
    window.location.href='/quests/start';
  }
</script> -->
