<!DOCTYPE html>
<html>
<head>
    <title>Special Message</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }

        h1 {
            color: #f2ebeb;
        }

        p {
            font-size: 18px;
            color: #f3efef;
        }
    </style>
</head>
<body>
    <h1>Happy Birthday, Christine Moore!</h1>
    <p>We are so happy to have you here! We have prepared this special message just for you:</p>
    <p>I love you, Mom!</p>
</body>
</html>
