body {
    background-image: url('/images/wp10657115.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    background-color: rgba(242, 255, 0, 0.955);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    border-bottom: 5px solid black;  /* This line adds the thin black line at the bottom */

}

nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0 10px;
}



.landing-hero {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    color: rgb(255, 255, 255);
}

.landing-hero button {
    color: rgb(0, 0, 0);
    background-color: rgba(242, 255, 0, 0.955);
    border: 5px solid rgb(3, 4, 9);
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}

.landing-hero button:hover {
    background-color: #4a90e2;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }

    nav a {
        margin: 5px 0;
    }

    .landing-hero button {
        padding: 8px 16px;
    }
}

.timeline-container {
    background-color: rgb(0, 51, 255);
    padding: 20px;
    border: 10px solid #ffffff;
    border-radius: 20px;
    margin: 40px auto;
    width: 80%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.timeline-container h1 {
    font-size: 32px; 
    color: white; 
}

.timeline-container h2 {
    font-size: 24px; 
    color: white;
}

.timeline-container p {
    font-size: 18px;
    color: white; 
}

.profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 4px solid #fafbfc;
    object-fit: cover;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.profile p {
    margin: 0;
    font-size: 16px;
}

.profile h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

.quest  {
    font-size: 32px; 
    color: white; 
/* }
.quest p { */
    background-color: rgb(0, 51, 255);
    padding: 20px;
    border: 10px solid #ffffff;
    border-radius: 10px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    color: white;
}

.quest-completed {
    background-color: rgb(0, 51, 255);
    padding: 20px;
    border: 10px solid #ffffff;
    border-radius: 20px;
    margin: 40px auto;
    width: 80%;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    color: white;
}

.quest-completed button {

    color: rgb(0, 0, 0);
    background-color: rgba(242, 255, 0, 0.955);
    border: 5px solid rgb(3, 4, 9);
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
}